<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panlingxiao.common_admin.mapper.user.UserMapper">


    <sql id="common-user-sql">
        id,username,password,nickname,status,salt,locked,role_ids
    </sql>

    <select id="findUser" parameterType="userRequest" resultMap="userMap">
        select
        <include refid="common-user-sql"/>
        from t_user as a
        <where>
            <if test="param != null and param != '' ">
                a.username like '%${param}%' or a.nickname like '%${param}%'
            </if>
        </where>
    </select>

    <!--根据用户Id查询用户-->
    <select id="getUserById" parameterType="Integer" resultMap="userMap">
        select
        <include refid="common-user-sql"/>
        from t_user
        <where>
            id=#{id}
        </where>
    </select>

    <!--根据用户名查询用户-->
    <select id="getUserByUserName" parameterType="userRequest" resultMap="userMap">
        select
        <include refid="common-user-sql"/>
        from t_user
        <where>
            username=#{username}
        </where>
    </select>

    <resultMap id="userMap" type="user">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="status" property="status"/>
        <result column="salt" property="salt"/>
        <result column="locked" property="locked"/>
        <!--使用自定义的Type处理器来完成1，2，3字符串到List<Integer>的转换过程-->
        <result column="role_ids" property="roleIds"  typeHandler="com.panlingxiao.common_admin.util.mybatis.StringToListTypeHandler" />
    </resultMap>


    <!--根据用户Id查询用户的授权信息-->
    <select id="getUserAuthorizationInfoById" resultMap="userAuthorizationInfoMap" parameterType="userRequest">
          SELECT
          t_user.id     AS user_id,
          t_role.id     AS role_id,
          t_role.name   AS role_name,
          t_role.description,
          t_role.available,
          t_role.resource_ids,
          t_resource.id AS resource_id,
          t_resource.name as resource_name,
          t_resource.type,
          t_resource.url,
          t_resource.parent_id,
          t_resource.permission
        FROM t_user
          JOIN t_role ON t_user.id = #{id} AND find_in_set(t_role.id, t_user.role_ids)
          JOIN t_resource ON find_in_set(t_resource.id, t_role.resource_ids)
    </select>

    <resultMap id="userAuthorizationInfoMap" type="user">
        <id column="user_id" property="id"/>
        <collection property="roles" ofType="Role">
            <id property="id" column="role_id"/>
            <result property="name" column="role_name"/>
            <result property="description" column="description"/>
            <result property="available" column="available"/>
            <result property="resourceIds" column="resource_ids"  typeHandler="com.panlingxiao.common_admin.util.mybatis.StringToListTypeHandler"/>
            <collection property="resources" ofType="Resource">
                <id property="id" column="resource_id"/>
                <result property="name" column="resource_name"/>
                <result property="type" column="type"/>
                <result  property="url" column="url"/>
                <result property="parentId" column="parent_id"/>
            </collection>
        </collection>
    </resultMap>



    <!--添加用户-->
    <insert id="addUser" parameterType="user">
        insert into t_user (<include refid="common-user-sql"/>) values
        (#{id},#{username},#{password},#{nickname},#{status},#{salt},#{locked},#{roleIdsString})
    </insert>


</mapper>